.container{
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .img{
    position: relative;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
  }
  
  .avatar{
    object-fit: cover;

  }
  
  .texts{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
  }
  
  .title{
    color: white;
    font-weight: bold;
  }
  
  .username{
    font-weight: 500;
  }