.container{
    padding-top: 2rem;
    overflow: hidden;
    width: 100%;
    min-height: 100vh;
    background: var(--border);
}

.imgcontainer{
    position: relative;
    height: 100vh;
    width: 60%;
}

.img{
    object-fit: cover;
}

.login{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--bg);
    padding: 1.7rem 2.5rem;
    border-radius: 1rem;
    gap: 10px;
    align-items: center;
}

.login h1{
 font-weight: 700;
 font-size: 1.5rem;   
 color: #ffffff;
}

.login span{
    display: flex;
    flex-direction: column;
    color: #ffffff;
    font-weight: 700;
}

.login input{
    border-radius: 10px;
}

.button{
    background: var(--btn);
    padding: 0.8rem 2.5rem;
    width: fit-content;
    border-radius: 12px;
    color: #ffffff;
    font-weight: 700;
}

.button:hover{
    background: var(--btnh);
}

.error{
    width: 100%;
    text-align: start;
    color: rgb(255, 0, 0);
    font-weight: 700;
}

.success{
    width: 100%;
    text-align: start;
    color: rgb(25, 255, 4);
    font-weight: 700;
}

.passwordWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .passwordInput {
    position: relative;
  }
  
  .toggleButton {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
  }

  .account{
    width: 100%;
    display: flex;
    gap: 4px;
  }