.container {
  padding: 12px 2rem;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #2C3E50;
  width: 100%;
  overflow: hidden;
}

.top {
  display: flex;
  /* align-items: center; */
  padding-bottom: 1rem;
  justify-content: space-between;
  border-bottom: solid rgba(255, 255, 255, 0.2) 1px;
  align-items: flex-end;
  width: 100%;
}

.top p {
  font-size: 1.5rem;
}

.subscribe {
  /* width: 30%; */
  display: flex;
  gap: min(1.5rem, 6%);
  align-items: center;
}

.subscribe input{
  border-radius: 10px;
}

.button {
  padding: 10px;
  background-color: var(--btn);
  border-radius: 10px;
}

.button:hover{
  background: var(--btnh);
}

.bottom {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 6px;
}

.links{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: var(--btn);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
}

.links:hover{
  background: var(--btnh);
}

.links:nth-child(3){
  padding: 5px;
}

.links:nth-child(4){
  padding: 7px;
}

.img:nth-child(1){
  object-fit: cover;
}

.follows{
  font-weight: 700;
  font-size: 1.5rem;
}